
<a id='{{this.id}}' class="delete right add btn-floating btn-small waves-effect waves-light red tooltipped" data-id="{{this.prodID}}" data-position="top" data-tooltip="Delete Requirement"><i class="material-icons">delete</i></a>