<div class="modal" id="modal{{this.id}}">
    <div class="modal-content">
        <h5>{{this.prodName}}</h5>
        <p>{{this.prodCategory}}</p>
        <div>{{> addOne}}</div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>