 {{!-- if user is a supervisor these buttons will render for navigation --}}
<div class='row'>
	{{#if role}}
	<ul id='nav-buttons' class='list-group navBtns'>
		<li>
			<a class='btn btn-primary ordersPage' href='/basicuser'>Products</a>
			<a class='btn btn-primary ordersPage' href='/order'>Orders</a>
			<a class='btn btn-primary ordersPage' href='/underpar'>Products under PAR</a>
			<a class='btn btn-primary ordersPage' href='/user'>Users</a>
		</li>
	</ul>
	{{/if}}
</div>
