 {{!-- if user is a supervisor these buttons will render for navigation --}}
<div class='row'>
	{{!-- {{#if this.usRole}} --}}
	<ul id='product-list' class='list-group'>
		<li>
			<button class='btn btn-primary ordersPage'><a href='/basicuser'>Products</a></button>
			<button class='btn btn-primary ordersPage'><a href='/order'>Orders</a></button>
			<button class='btn btn-primary ordersPage'><a href='/underpar'>Products under PAR</a></button>
			<button class='btn btn-primary usersPage'><a href='/user'>Users</a></button>
		</li>
	</ul>
	{{!-- {{/if}} --}}
</div>