<div id='home'>
  <div>
    {{> header}}
  </div>
  <div class='container'>
    <div class='login z-depth-3'>
      <div class='row padIt'>
        <div class='col-8 offset-2'>
          <form class='mb-4 login-form' action='/login' method='POST'>
            <div class="input-field">
              <input id="first_name" type="text" class="validate" name='username'>
              <label for="first_name">User Name</label>
            </div>
            <div class="row">
              <div class="input-field">
                <input id="password" type="password" class="validate" name='password'>
                <label for="password">Password</label>
              </div>
            </div>
            <button id='submit' type='submit' class='btn btn-primary right login-submit'>Log In</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js'></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='/js/index.js'></script>