<div id='home'>
  <div>
    {{> header}}
  </div>
  <div class='container'>
    <div class='login z-depth-3'>
      <div class='row padIt'>
        <div class='col-8 offset-2'>
          <form class='mb-4 login-form' action='/login' method='POST'>
            <div class="input-field">
<<<<<<< HEAD
              <input id="first_name" type="text" class="validate login-bg" name='username'/>
=======
              <input id="first_name" type="text" class="validate">
>>>>>>> e8e5643b8006ad8f8291383ec5b7e5735d8da509
              <label for="first_name">User Name</label>
            </div>
            <div class="row">
              <div class="input-field">
<<<<<<< HEAD
                <input id="password" type="password" class="validate login-bg" name='password'/>
                <label for="password">Password</label>
              </div>
            </div>
            <button id='submit' class='btn btn-primary right login-submit' value='Log in'>Submit</button>
=======
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
              </div>
            </div>
            <button id='submit' class='btn btn-primary right login-submit'><a href='/basicuser'>Log In</a></button>
>>>>>>> e8e5643b8006ad8f8291383ec5b7e5735d8da509
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js'></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='/js/index.js'></script>