<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Products:</h5>
          {{#each product}}
          <p>
            <strong>ID</strong>: {{this.id}}</p>
            <p>
              <strong>Name</strong>: {{this.prodName}}</p>
            <p>
              <strong>Catagory:</strong> {{this.prodCategory}}
            </p>
            <p>
              <strong>On Hand:</strong> {{this.prodOnHand}}
            </p>
            {{/each}}
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>