<div id='home'>
    <div class='jumbo'>
        <h2 class='white-text center header'>Name Here</h2>
    </div>
    <div class='container'>
        <div class='login z-depth-3'>
            <div class='row padIt'>
                <div class='col-8 offset-2'>
                    <form class='mb-4 login-form' action='/api/users' method='POST' id='signup' name='signup'>
                        <div class="input-field col s12">
                            <label for="username">First Name and Last Name (i.e. John Doe)</label>
                            <input id="usName" type="text" class="validate" name="username" />
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="phoneNumber" type="text" class="validate" name='phoneNumber' />
                                <label for="phoneNumber">Phone Number (xxx-xxx-xxx)</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="email" type="text" class="validate" name='email' />
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="address" type="text" class="validate" name='address' />
                                <label for="address">Street Address</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s4">
                                <input id="city" type="text" class="validate" name='city' />
                                <label for="city">City</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="state" type="text" class="validate" name='state' />
                                <label for="state">State</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="zip" type="text" class="validate" name='zip' />
                                <label for="zip">Zip</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s4">
                                <input id="usRole" type="text" class="validate" name='role' />
                                <label for="role">Role</label>
                            </div>
                            <div class="input-field col s8">
                                <input id="usPassword" type="password" class="validate signup-bg" name='password' />
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <button id='submit' type='submit' class='btn btn-primary right signup-submit' value='Sign Up'>Sign
                            Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js'></script>
<script src='/js/index.js'></script>