<div id='home'>
    <div class='jumbo'>
        <h2 class='white-text center header'>Name Here</h2>
    </div>
    <div class='container'>
        <div class='background login z-depth-3'>
            <div class='row padIt'>
                <div class='col-8 offset-2'>
                    <h4>Select one:</h4>
                    <ul id='product-list' class='list-group'>
                        <li>
                            <button id='super' class='btn btn-primary supervisorPage'><a href='/supervisor'>Supervisor</a></button>
                            <button id='super' class='btn btn-primary ordersPage'><a href='./order'>Orders</a></button>
                            <button id='super' class='btn btn-primary usersPage'><a href='./user'>Users</a></button>
                            <button id='logOut' class='btn btn-primary right'>Log out</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js'></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='/js/index.js'></script>