<div id='home'>
    <div>
        {{> header}}
    </div>
    <div class='container'>
        <div class='background z-depth-3'>
            <div class='row padIt'>
                <div class='col-8 offset-2'>
                    <button id='back' class='btn btn-primary right top-back'><a href='/basicuser'>Back</a></button>
                    <h5>Users</h5>
                    {{> modalUser}}
                    <a id='logOut' class='btn btn-primary right' href='/'>Log out</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js'></script>
<script src='/js/index.js'></script>
